*.swp
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.gradle
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea
.gradle
app/build/
app/libs/
app/obj/
temp/
AndroidBootstrap/build/
/build
.DS_Store

target/
Servers/
.metadata
RemoteSystemsTempFiles/
.settings/
