<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>ToDo一覧</title>
</head>
<body>
<h1>ToDo一覧</h1>
<a th:href="@{/client/}">jQuery版へ</a>
<table>
	<p>
		<form th:action="@{/items/add}" method="get">
			<input type="submit" name="form" value="登録" />
		</form>
		<form th:action="@{/api/items/csvfile}" method="get">
			<input type="submit" name="form" value="CSV出力" />
		</form>
	</p>
	<tr th:each="item : ${items}">
		<td th:text="${item.id}"> 100</td>
		<td th:text="${item.content}"> dummy</td>
		<td>
		<form th:action="@{/items/edit}" method="get">
			<input type="hidden" name="id" th:value="${item.id}" />
			<input type="submit" name="form" value="編集" />
		</form>
		</td>
		<td>
		<form th:action="@{/items/delete}" method="post">
			<input type="hidden" name="id" th:value="${item.id}" />
			<input type="submit" value="削除" />
		</form>
		</td>
	</tr>
</table>
</body>
</html>